body {  
  background:#eeeedd;
  font: Courier New,monospace;
}

.game-main {
  background:#eeeedd;
  width: 640px;
  margin: 0 auto;
  margin-top: 2px;
  padding: 2px;
  border: solid;
}

.game-titlebar {
  margin: 0 auto;
  text-align: center;
}

.game-join-buttons {
  margin: 0 auto;
  text-align: center;  
}

.game-infobar-button {
  font-size: 16px;
  padding : 2px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.game-infobar-text {
  font-size: 16px;
  padding : 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-statusbar {
  background:#dddddd; 
  display: flex;
  font-weight: bold;
  text-align: center;
  padding: 2px;
}

.game-wordsbar {
  background:#eeeedd;
  display: flex;
  justify-content: space-between;
}

.game-wordsbar-word {
  background:#eeeedd;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  padding : 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.game-board {
  background:#eeeedd;
  padding: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  display: flex;
  flex-direction: column;
  height: auto;
}
.game-board-row {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.game-card {
  padding: 2px;
  background:#eeeedd;
  display: grid;
  justify-content: center;
}

.game-card-header {
	background:#c8c4a5;
  display: flex;
  font-weight: bold;
  padding: 1px;
  font-size: 16px;
}

.game-card-row {
  background:#cccccc;
  padding: 1px;
  display: flex;
  font-size: 16px;
}

.game-card-row-light {
  background:#bbbbbb;
  padding: 1px;
  display: flex;
  font-size: 16px;
}

.game-card-word {
  width: 200px;
  padding: 1px;
}

.game-card-box {
  padding: 1px;
  width: 20px;
}

.game-board-hints {
  width: 630px;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: space-between;  
  padding : 2px;
}

.game-board-keys {
  background:#bbbbbb; 
  width: 140px;
  padding: 2px;
  grid-template-columns: 1fr; 
  display: flex;
  flex-direction: column;
  grid-row-gap: 0;
}

.game-board-keys-header {
  background:#c8c4a5;
  height: 24px;
  font-size: 18px;
  padding : 2px;
  font-weight: bold;
}

.game-board-keys-hint {
  background:#cccccc;
  height: 24px;
  font-size: 18px;
}

.game-inputbar {
  width: 630px;
  padding : 2px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  white-space:nowrap;  
}

.code-entry-form {
  padding : 2px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  white-space:nowrap;  
}

.code-entry-field
{
  font-size: 16px;
}

.code-entry-button {
  font-size: 16px;
  padding : 4px;
  padding-top: 1px;
  padding-bottom: 1px;
}