body {
  font: Courier New,monospace;
}

.game-main {
  background:#eeeedd;
  width: 640px;
  height: 950px;
  margin: 0 auto;
  padding: 10px;
}

.game-titlebar {
  margin: 0 auto;
  text-align: center;
}

.game-join-buttons {
  margin: 0 auto;
  text-align: center;
}

.game-infobar-button {
  font-size: 18px;
  padding : 4px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.game-infobar-text {
  font-size: 18px;
  padding : 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-statusbar {
  background:#dddddd; 
  width: 630px;
  height: 40px;
  margin: 0px auto;
  display: flex;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.game-wordsbar {
  background:#eeeedd;
  width: 640px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.game-wordsbar-word {
  background:#eeeedd;
  width: 140px;
  height: 60px;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  padding : 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space:nowrap;
}

.game-board {
  background:#77dd77; 
  width: 630px;
  height: 480px;
  padding: 5px;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  margin: 0px auto;
  display: grid;  
}
.game-card {
  width: 300px;
  height: 110px;
  padding: 5px;
	background:#eeeeee;
  display: grid;
  justify-content: center;
}

.game-card-header {
	background:#b49797;
  display: flex;
  font-weight: bold;
  padding: 1px;
}

.game-card-row {
  background:#bbbbbb;
  padding: 1px;
  display: flex;
}

.game-card-row-light {
  background:#aaaaaa;
  padding: 1px;
  display: flex;
}

.game-card-word {
  width: 200px;
  padding: 1px;
}

.game-card-round {
  padding: 1px;
  width: 200px;
}

.game-card-guess {
  padding: 1px;
  width: 20px;
}

.game-card-number {
  padding: 1px;
  width: 20px;
}



.game-board-with-keys {
  background:#7777dd; 
  width: 640px;
  height: 680px;
  grid-template-rows: 4fr 2fr; 
  margin: 0px auto;
  display: grid;
}

.game-board-hints-row {
  display: flex;
  justify-content: center;
}

.game-board-keys {
  background:#aaaaaa; 
  width: 150px;
  height: 200px;
  grid-template-columns: 1fr; 
  display: flex;
  flex-direction: column;
  grid-row-gap: 0;
}

.game-board-keys-header {
  background:#aaaaaa;
  height: 20px;
}

.game-board-keys-hint {
  background:#eeeeee;
  height: 20px;
}

.game-inputbar {
  background:#ff0000; 
  width: 640px;
  height: 100px;
  display: flex;
  text-align: center;
}

