body {  
  background:#eeeedd;
  font: Courier New,monospace;
  font-size: 18x;
}

.game-main {
  background:#eeeedd;
  width: 640px;
  height: 1024px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
  border: solid;
}

.game-titlebar {
  margin: 0 auto;
  text-align: center;
}

.game-join-buttons {
  margin: 0 auto;
  text-align: center;  
}

.game-infobar-button {
  font-size: 18px;
  padding : 4px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.game-infobar-button-number {
  font-size: 18px;
  padding : 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 128px;
}


.game-infobar-text {
  font-size: 18px;
  padding : 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-statusbar {
  background:#dddddd; 
  width: 630px;
  height: 40px;
  margin: 0px auto;
  display: flex;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.game-wordsbar {
  background:#eeeedd;
  width: 640px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.game-wordsbar-word {
  background:#eeeedd;
  width: 140px;
  height: 60px;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  padding : 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space:nowrap;
}

.game-board {
  background:#eeeedd;
  width: 630px;
  height: 480px;
  padding: 5px;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  margin: 0px auto;
  display: grid;  
}

.game-card {
  width: 300px;
  height: 110px;
  padding: 5px;
  background:#eeeedd;
  display: grid;
  justify-content: center;
}

.game-card-header {
	background:#bdc8ce;
  display: flex;
  font-weight: bold;
  padding: 1px;
  font-size: 18px;
}

.game-card-row {
  background:#cccccc;
  padding: 1px;
  display: flex;
  font-size: 18px;
}

.game-card-row-light {
  background:#bbbbbb;
  padding: 1px;
  display: flex;
  font-size: 18px;
}

.game-card-word {
  width: 200px;
  padding: 1px;
}

.game-card-round {
  padding: 1px;
  width: 200px;
}

.game-card-guess {
  padding: 1px;
  width: 20px;
}

.game-card-number {
  padding: 1px;
  width: 20px;
}

.game-board-hints {
  width: 630px;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: space-between;  
  padding : 5px;
}

.game-board-keys {
  background:#bbbbbb; 
  width: 140px;
  padding: 5px;
  height: 200px;
  grid-template-columns: 1fr; 
  display: flex;
  flex-direction: column;
  grid-row-gap: 0;
}

.game-board-keys-header {
  background:#bdc8ce;
  height: 24px;
  font-size: 18px;
  padding : 5px;
  font-weight: bold;
}

.game-board-keys-hint {
  background:#cccccc;
  height: 24px;
  font-size: 18px;
}

.game-inputbar {
  width: 630px;
  padding : 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  white-space:nowrap;  
}

.code-entry-form {
  padding : 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  white-space:nowrap;  
}

.code-entry-field
{
  font-size: 16px;
}

.code-entry-button {
  font-size: 16px;
  padding : 4px;
  padding-top: 1px;
  padding-bottom: 1px;
}