.game-main {
  background:#dd7777;
}

.game-statusbar {
  background:#dddddd; 
  width: 640px;
  height: 40px;
  margin: 0px auto;
  display: flex;
  font-weight: bold;
  text-align: center;
}

.game-wordsbar {
  background:#dddddd; 
  width: 640px;
  height: 40px;
  margin: 0px auto;
  display: flex;
  grid-template-columns: 140px 140px 140px 140px;
}


.game-wordsbar-word {
  background:#77dd77; 
  width: 160px;
  justify-content: center;
}

.game-board {
  background:#77dd77; 
  width: 640px;
  height: 480px;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  margin: 0px auto;
  display: grid;
}

.game-board-with-keys {
  background:#7777dd; 
  width: 640px;
  height: 680px;
  grid-template-rows: 4fr 2fr; 
  margin: 0px auto;
  display: grid;
}

.game-board-hints-row {
  display: flex;
  justify-content: center;
}

.game-board-keys {
  background:#aaaaaa; 
  width: 150px;
  height: 200px;
  grid-template-columns: 1fr; 
  display: flex;
  flex-direction: column;
  grid-row-gap: 0;
}

.game-board-keys-header {
  background:#aaaaaa;
  height: 20px;
}

.game-board-keys-hint {
  background:#eeeeee;
  height: 20px;
}

.game-card {
  width: 320px;
  height: 100px;
	background:#eeeeee;
  display: grid;
  grid-template-columns: 320px; 
  grid-template-rows: 20px 20px 20px 20px;
  justify-content: center;
  grid-gap: 5px;
}

.game-card-header {
  width: 320px;
  height: 20px;
	background:#aaaaaa;
  display: flex;
  grid-template-columns: 1fr 40px 40px; 
  justify-content: left;
  font-weight: bold;
}

.game-card-row {
  width: 320px;
  height: 20px;
	background:#cccccc;
  display: flex;
  grid-template-columns: 140px 40px 40px; 
  justify-content: left;
}

.game-card-word {
  width: 240px;
}

.game-card-round {
  width: 240px;
}

.game-card-guess {
  width: 40px;
}

.game-card-number {
  width: 40px;
}

